node_modules
.vscode
outputs/color-dataArray-0.png
outputs/flat-color.png
outputs/flat-color-red.png
outputs/grey-black.png
outputs/red-black.png
outputs/bluered-white-large-2.png
index.html
audio-samples/500hz.mp3
audio-samples/explosion.wav
audio-samples/music.mp3
audio-samples/sad-violin.mp3
outputs/bluered-white-whitefade.png
outputs/green-white.png
outputs/grey-white-whitefade.png
outputs/grey-white.png
outputs/yellow-white.png
outputs/spectrum-graph/bluered-white-large-2.png
outputs/spectrum-graph/bluered-white-large.png
outputs/spectrum-graph/bluered-white-whitefade.png
outputs/spectrum-graph/color-dataArray-0.png
outputs/spectrum-graph/flat-color-red.png
outputs/spectrum-graph/flat-color.png
outputs/spectrum-graph/green-white.png
outputs/spectrum-graph/grey-black.png
outputs/spectrum-graph/grey-white-whitefade.png
outputs/spectrum-graph/grey-white.png
outputs/spectrum-graph/red-black.png
outputs/spectrum-graph/yellow-white.png
audio-samples/rain.mp3
audio-samples/music2.mp3
